<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rise社区</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<style>
    body {
        background: url("imgs/bg.jpg") repeat;
    }

</style>
<body>


<nav class="navbar navbar-default navbar-static-top" style="background: #499ef3">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Rise社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index" style="color: white">Rise社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav"></ul>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>


            <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
                <li><a href="/publish"  th:if="${session.user!=null}" style="color: white;font-size: 16px">发起</a></li>
                <li class="dropdown">
                    <a href="#" th:if="${session.user!=null}" th:text="${session.user.name}" style="color: white;font-size: 16px"
                       class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="/user/logout">退出登录</a></li>

                    </ul>
                </li>
                <li><a th:if="${session.user==null}" style="color: white;font-size: 16px"
                       href="https://github.com/login/oauth/authorize?client_id=51a6b073b4b9e92a2159&redirect_uri=http://localhost:8887/callback&scope=user&state=1">
                    登录</a></li>
            </ul>
        </div>
    </div>


</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-1  col-lg-7 col-sm-12 col-md-9" style="background-color: white;">
            <div style="height: 40px;line-height: 63px">
                <i class="glyphicon glyphicon-plus" style="font-size: 20px;margin-left: 10px">发起</i>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/60636088?s=60&v=4" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    11111111111111111
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-12 col-md-3" style="background-color: white;height: 724px;">
            <h4 style="margin-top: 40px">问题发起指南</h4>
            <p>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</p>

            <p> • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：</p>

        </div>
    </div>
    <div style="text-align: center;margin-top: 30px">Copyright © 2020 · CC BY-NC-SA 3.0 · Rise社区</div>
</div>

</body>
</html>