<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rise社区</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<style>
    body {
        background: url("imgs/bg.jpg") repeat;
    }

</style>
<body>

<!--头部-->
<div th:insert="common/nav :: nav"></div>

<!--中间内容-->
<div class="container-fluid">
    <div class="row">
        <!--左边文章列表-->
        <div class="col-lg-offset-1  col-lg-7 col-sm-12 col-md-9" style="background-color: white;">
            <h4><span th:text="${question.title}"></span></h4>
            <span style="color: #999">
                       作者: <span th:text="${question.authorName}"></span> |
                       发布时间: <span th:text="${question.createTime}"></span> |
                        阅读数: <span th:text="${question.viewCount}"></span>
            </span>
            <hr>
            <div style="font-weight: bold;font-size: 16px" class="col-lg-12 col-sm-12 col-md-12" th:text="${question.description}"></div>
            <hr class="col-lg-12 col-sm-12 col-md-12">
            <span class="glyphicon glyphicon-pencil" >
                <a th:href="@{/publishByQuestionId(questionId=${question.id})}" style="text-decoration: none;margin-left: -6px">编辑</a>
            </span>
        </div>


        <div class="col-lg-3 col-sm-12 col-md-3" style="background-color: white;height: 745.6px;">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h3>发起人</h3>
                <div class="media" >
                    <div class="media-left" >
                        <a href="">
                            <img class="media-object" th:src="${question.avatarUrl}" alt="">
                        </a>
                    </div>
                    <div class="media-body" style="line-height: 60px;font-size: 16px;font-weight: 400">

                       <span th:text="${question.authorName}"></span>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h3>相关问题</h3>
            </div>

        </div>


    </div>
</div>

<!--底部-->
<div style="text-align: center;margin-top: 30px">Copyright © 2020 · CC BY-NC-SA 3.0 · Rise社区</div>
</div>

</body>
</html>