<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rise社区</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/community.js"></script>
</head>

<style>
    body {
        background: url("images/bg.jpg") repeat;
    }

    .comment {
        margin-left: 5px;
        font-size: 17px;
        color: #999;
    }

    .comment:hover {
        color: #499ef3;
    }


</style>
<body>

<div>
    <!--头部-->
    <!--头部-->
    <!--头部-->
    <!--头部-->
    <!--头部-->
    <div th:insert="common/nav :: nav"></div>

    <!--中间内容-->
    <!--中间内容-->
    <!--中间内容-->
    <div class="container-fluid">
        <div class="row" style="background-color: white;margin-left: 135px;margin-right: 130px">
            <!--左边文章列表-->
            <!--左边文章列表-->
            <!--左边文章列表-->
            <!--左边文章列表-->
            <!--左边文章列表-->
            <div class="col-lg-9" style="background-color: white;">
                <h4><span th:text="${question.title}"></span></h4>
                <span style="color: #999">
                       作者: <span th:text="${question.authorName}"></span> |
                       发布时间: <span th:text="${question.createTime}"></span> |
                        阅读数: <span th:text="${question.viewCount}"></span>
            </span>

                <hr>

                <!--问题描述-->

                <!--                <div style="font-weight: bold;font-size: 16px" class="col-lg-12 col-sm-12 col-md-12"-->
                <!--                     th:text="${question.description}"></div>-->
                <link rel="stylesheet" href="/css/editormd.preview.css"/>
                <div id="test-markdown-view">
                    <!-- Server-side output Markdown text -->
                    <textarea style="display:none;" th:text="${question.description}">



                    </textarea>
                </div>
                <!--                <script src="jquery.min.js"></script>-->
                <script src="/js/editormd.js"></script>
                <script src="/js/lib/marked.min.js"></script>
                <script src="/js/lib/prettify.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        var testView = editormd.markdownToHTML("test-markdown-view", {
                            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                            // htmlDecode : true,  // Enable / disable HTML tag encode.
                            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                        });
                    });
                </script>


                <hr class="col-lg-12">
                <span class=" glyphicon glyphicon-tags label label-info" style="margin-right: 5px;font-size: 13px"
                      th:each="tag :${question.tag.split(',')}">
                    <span th:text="${tag}"></span>
                </span>
                <hr>
                <span class="glyphicon glyphicon-pencil" th:if="${session.user!=null}"
                      th:unless="${question.authorName!=session.user.name}">
                <a th:href="@{/publishByQuestionId(questionId=${question.id})}"

                   style="text-decoration: none;margin-left: -6px">编辑</a>
            </span>

                <!--评论内容-------------------->
                <!--评论内容-------------------->
                <!--评论内容-------------------->
                <div style="margin-top: 50px">
                    <h4><span th:text="${question.commentCount}"></span>个回复</h4>
                    <hr>
                    <div class="media" th:each="comment:  ${comments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" th:src="${comment.authorAvatarUrl}" alt="..." width="60px">
                            </a>
                        </div>
                        <div class="media-body" style="line-height: 36px">
                            <h4 class="media-heading" th:text="${comment.authorName}"></h4>
                            <span th:text="${comment.content}"></span>
                            <div>
                                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 15px">
                               </span>
                                <span th:text="${comment.commentCount}" onclick="collapseComment(this)"
                                      data-collapse=""
                                      collapse-count="true"
                                      class="glyphicon glyphicon-comment comment"
                                      th:data-id="${comment.id}">
                                </span>
                                <span th:text="${comment.createTime}" class="pull-right"></span>
                            </div>
                            <!--二级评论--------------------->
                            <!--二级评论--------------------->
                            <!--二级评论--------------------->
                            <div class="col-lg-12 collapse" th:id="${comment.id}" style="border: 1px solid #eee">

                            </div>

                        </div>
                        <hr>
                    </div>


                </div>


                <!--回复框------------------------------------------->
                <!--回复框------------------------------------------->
                <!--回复框------------------------------------------->
                <!--回复框------------------------------------------->
                <div class="alert alert-success" role="alert" th:if="${session.user==null}" style="text-align: center">   <span style="font-size: 16px" >想评论问题请先登录</span></div>

                <div id="reply-template" th:if="${session.user!=null}">
                    <h4 style="font-weight: bold">提交回复</h4>
                    <hr>
                    <div class="form-group" style="margin-top: 20px">
                        <label for="reply">
                            <div class="media">
                                <div class="media-left">
                                    <a href="">
                                        <img class="media-object" th:src="${session.user.avatarUrl}" alt="" width="60px">
                                    </a>
                                </div>
                                <div class="media-body" style="line-height: 60px;font-size: 16px;font-weight: 400">

                                    <span th:text="${session.user.name}"></span>

                                </div>
                            </div>

                        </label>
                        <textarea class="form-control" id="reply" name="content"
                                  rows="10"></textarea>
                    </div>
                    <input type="hidden" id="questionId" th:value="${question.id}">
                    <button onclick="reply()" class="btn btn-success pull-right" style="margin-bottom: 10px">回复</button>
                </div>

            </div>


            <div class="col-lg-3">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <h3 style="font-weight: bold">发起人</h3>
                    <div class="media">
                        <div class="media-left">
                            <a href="">
                                <img class="media-object" th:src="${question.avatarUrl}" alt="" width="60px">
                            </a>
                        </div>
                        <div class="media-body" style="line-height: 60px;font-size: 16px;font-weight: 400">

                            <span th:text="${question.authorName}"></span>

                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-sm-12 col-md-12">
                <h4 style="font-weight: 700;margin-left: 14px; ">站长微信</h4>
                <div style="">

                    <img src="images/WeChat.png" alt="" width="200px">
                </div>
                <hr class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <h3 style="font-weight: bold;">相关问题</h3>
                    <ul style="list-style: none;margin-left: -39px">
                        <li th:each="relatedQuestion:  ${relatedQuestions}">
                            <a style="text-decoration: none;font-size: 20px"
                               th:href="@{/question(questionId=${relatedQuestion.id})}"
                               th:text="${relatedQuestion.title}"></a>
                        </li>
                    </ul>
                </div>

            </div>


        </div>
    </div>

    <!--底部-->
    <!--底部-->
    <!--底部-->
    <!--底部-->
    <!--底部-->
    <div style="text-align: center;margin-top: 30px">Copyright © 2020 · CC BY-NC-SA 3.0 · Rise社区</div>
</div>


</body>
</html>